

.header{
    position: relative;
}

/* Header Slick banner auto play */
.header__slick{
    display: flex;
}

.header__slick--item{
    height: 500px;
    width: 100vw;
}

.header__slick--item-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slick-prev{
    left: 50px;
    z-index: 1;
}

.slick-prev::before{
    color: var(--white-color);
    opacity: 0.7;
    font-size: 4rem;
} 

.slick-next{
    right: 50px;
    z-index: 1;
}

.slick-next::before{
    color: var(--white-color);
    opacity: 0.7;
    font-size: 4rem;
}

.slick-dots{
    bottom: 90px;
}


.slick-dots li button:before{
    font-size: 15px;
    color: var(--white-color);
    opacity: 0.4;
}

.slick-dots li.slick-active button:before{
    color: var(--white-color);
}

/* Header Menu */
.header__menu{
    position: absolute;
    top: 0;
    height: 130px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    width: 300px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.submenu{
    flex: 1;
    border-radius: 4px;
}

.submenu__1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.submenu__1--left{
    display: flex;
    align-items: center;
}

.submenu__1--left-hotline{
    font-size: 1.6rem;
    color: #35b9dd;
    line-height: 1.6rem;
    margin-right: 4px;
    font-weight: 700;
}

.submenu__1--left-phone{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white-color);
    cursor: pointer;
}

.submenu__1--right{
    display: flex;
    align-items: center;
}

.submenu__1--right-account{
    color: var(--primary-color);
    background-color: var(--white-color);
    margin: 0 16px;
    height: 37px;
    width: 120px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.submenu__1--right-account-register{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.submenu__2{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.submenu__2--link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    margin-right: 50px;
    font-weight: 500;
}

/* Header search */
.header__search{
    display: flex;
    height: 140px;
    justify-content: space-evenly;
    background-color: var(--white-color);
    border-radius: 4px;
    position: relative;
    bottom: 100px;
    box-shadow: 0 1px 3px #ccc;
}

.header__search p{
    font-size: 1.6rem;
    color: var(--text-color);
    opacity: 0.8;
    font-weight: 500;
}

.search__place, .search__price, .search__type{
    display: flex;
    align-items: center;
    height: 64px;
    width: 100px;
    margin: auto 0;
    border: 1px solid #ccc;
    justify-content: space-around;
    border-radius: 3px;
    cursor: pointer;
}

.search__icon--down{
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.8;
}

/* search__place */
.search__place{
    position: relative;
}

.search__place:hover  .search__place--list{
    display: block;
}

.search__place--list{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    display: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
    z-index: 1;
}

.search__place--list::before{
    display: block;
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
}

.search__place--list-item{
    margin: 8px 0;
    padding: 4px 0;
}

.search__place--list-item:hover{
    background-color: #5392f9;
}

.search__place--list-item-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    padding-left: 8px;
}

/* Search Price */
.search__price{
    position: relative;
}

.search__price:hover .search__price--list{
    display: block;
}

.search__price--list{
    position: absolute;
    padding-left: 0;
    list-style: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
    display: none;
    z-index: 1;
}

.search__price--list::before{
    display: block;
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
}

.search__price--list-item{
    margin: 8px 0;
    padding: 4px 0;
}

.search__price--list-item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    padding-left: 4px;
}   

.search__price--list-item:hover{
    background-color: var(--primary-color);
}

/* Search Type (tiêu chuẩn sao) */
.search__type{
    position: relative;
}

.search__type:hover .search__type--list{
    display: block;
}

.search__type--list{
    position: absolute;
    padding-left: 0;
    list-style: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    display: none;
    box-shadow: 0 1px 3px #ccc;
    z-index: 1;
}

.search__type--list::before{
    display: block;
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
}

.search__type--list-item{
    margin: 8px 0;
    padding: 4px 0;
}

.search__type--list-item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.25rem;
    padding-left: 2px;
}

.search__type--list-item:hover{
    background-color: var(--primary-color);
}


/* Search datetime */
.search__datetime{
    display: flex;
    align-items: center;
    margin: auto 0;
}

#search__datetime--come, #search__datetime--leave{
    font-size: 1.3rem;
    width: 190px;
    height: 64px;
    color: var(--text-color);
    opacity: 0.8;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

#search__datetime--come{
    margin-right: 4px;
}
/* Search people */
.search__people{
    display: flex;
    align-items: center;
    height: 64px;
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto 0;
    position: relative;
    cursor: pointer;
}

.search__icon--people{
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.8;
    margin: 0 8px;
}

.search__people--wrap{
    margin-right: 10px;
}

.search__people:hover .search__people--list{
    display: block;
}

.search__people--wrap .search__people--wrap-title{
    margin: 6px 0;
}

.search__people--wrap .search__people--wrap-content{
    font-size: 1.4rem;
    font-weight: none;
    color: var(--text-color);
    opacity: 0.5;
    margin: 6px 0;
}

.search__people--list{
    position: absolute;
    padding-left: 0;
    list-style: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    display: none;
    box-shadow: 0 1px 3px #ccc;
    z-index: 1;
}

.search__people--list::before{
    display: block;
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
}


.search__people--list-item{
    margin: 8px 0;
    padding: 4px 0;
}

.search__people--list-item:hover{
    background-color: var(--primary-color);
}

.search__people--list-item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding-left: 8px;
}


/* search input */
.search__input{
    display: flex;
    align-items: center;
    width: 350px;
    margin: auto 0;
    position: relative;
}

.search__input--input:focus~ .search__input--list{
    display: block;
}

.search__icon--search{
    font-size: 1.6rem;
    position: relative;
    left: 19px;
    color: var(--text-color);
    opacity: 0.8;
}

.search__input--input{
    font-size: 1.6rem;
    flex: 1;
    height: 64px;
    padding-left: 24px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
}

.search__input--list{
    position: absolute;
    padding-left: 0;
    list-style: none;
    top: 100%;
    left: 16px;
    right: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 1px 3px #ccc;
    display: none;
}

.search__input--list::before{
    display: block;
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
}

.search__input--list-item{
    margin: 8px 0;
    padding: 4px 0 4px 24px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__input--list-item:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Button search */

.search__btn{
    display: flex;
    align-items: center;
    height: 64px;
    width: 80px;
    margin: auto 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
    padding-left: 7px;
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Body điểm đến VN*/
.body1{
    width: 80%;
    margin: 0 auto 40px;
    padding: 15px 50px 50px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
}

.body1__h1{
    margin: 20px auto 30px;
    font-size: 2.2rem;
    color: #195688;
    text-align: center;
}

.img__top{
    display: grid;
    grid-template: 184px 184px 184px 184px / 1fr 1fr 1fr;
    grid-gap: 10px;
}

.img__top div{
    position: relative;
}

.img__top  img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    cursor: pointer;
}

.img__1{
    grid-row: 1/2;
    grid-column: 1/3;
}

.img__2{
    grid-row: 1/3;
    grid-column: 3/4;
}

.img__5{
    grid-row: 3/5;
    grid-column: 1/2;
}

.img__6{
    grid-row: 3/4;
    grid-column: 2/4;
}

.img__p{
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}
/* Body điểm đến quốc tế */
.body1__layout{
    display: grid;
    grid-template: 184px 184px / 1fr 1fr 1fr; /*2 dòng 3 cột, mỗi dòng 184px, 3 cột thì nó tự canh tỉ lệ */
    grid-gap: 10px; /*cách ra 10px giữa các ảnh với nhau */
}

.body1__layout--1{
    grid-row: 1/2;
    grid-column: 1/3;
}

.body1__layout--4{
    grid-row: 1/3;
    grid-column: 3/4;
}

.body1__layout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
}

.body1__layout div{
    position: relative;
}

.body1__layout--p{
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

/* body bao bọc 1 khung hotel */
.body{
    background-color: var(--white-color);
    border-radius: 4px;
    /* position: relative;
    top: -100px; */
    margin-bottom: 40px;
    padding-bottom: 30px;
    box-shadow: 0 1px 3px #ccc;
}  

.body__h1{
    color: #195688;
    padding: 20px 0;
    border-bottom: solid var(--primary-color);
    margin: 0 20px 10px;
}

.container{
    display: flex;
    position: relative;
    justify-content: space-between; 
    margin: 0 20px;
}

.container__slick{
    display: flex;
}

.container__slick .slick-prev{
    left: -17px;
}

.container__slick .slick-next{
    right: 2px;
}

.container__slick .slick-prev::before,
.container__slick .slick-next::before{
    font-size: 4rem;
    color: var(--primary-color);
}

.wrap{
    flex-basis: 30%;
    margin: 20px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.wrap__slick{
    width: 430px;
    margin: 20px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.wrap:hover{
    border-color: var(--primary-color);
}

.wrap__layout{
    margin: 0 10px;
    min-height: 503px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.wrap__layout--img{
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

.wrap__layout--name{
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 10px 0;
}

.wrap__layout--place{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 10px 0;
}

.wrap__layout--rating{
    margin: 10px 0;
}

.wrap__layout--rating-icon{
    font-size: 1.2rem;
    color: #ffa726;
}

.wrap__layout--more{
    display: flex;
    margin-top: 10px;
    margin: 10px 0;
}

.wrap__layout--more-icon{
    font-size: 1.2rem;
    margin-right: 8px;
}

.wrap__layout--more-p{
    margin: 0;
    font-size: 1.3rem;
}   

.wrap__layout--evaluate{
    font-size: 1.3rem;
    margin: 10px 0;
}

.wrap__layout--vnd{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wrap__layout--discount{
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid #ccc;
    background-color: #e93a3a;
    color: var(--white-color);
    border-radius: 2px;
    height: 24px;
    width: 100px;
    text-align: center;
    padding-top: 3px;
    margin: 6px 0;
}

.wrap__layout--cost{
    font-size: 1.3rem;
    margin: 10px 0;
    text-decoration: line-through;
}

.wrap__layout--price{
    font-size: 1.8rem;
    margin: 6px 0 10px 0;
    position: absolute;
    bottom: 0;
}

.wrap__layout--btn{
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    border: 1px solid #ccc;
    outline: none;
    float: right;
    margin: 10px 10px 10px 0;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.wrap__layout--btn:hover, .wrap__layout--discount:hover{
    opacity: 0.9;
}

/* Body download */
.download{
    background: url(https://statics.vntrip.vn/images/appBox-bg.jpg) no-repeat center / cover;
    margin-bottom: 40px;
    padding-top: 40px;
}

.wrap__download{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download__mobile{
    height: 442px;
    width: 270px;
}

.download__mobile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.download__content{
    width: 60%;
}

.download__content--h1{
    font-size: 4rem;
    line-height: 5rem;
}   

.download__content--p{
    font-size: 1.6rem;
    line-height: 2rem;
}

.download__content--logo-appstore,
.download__content--logo-googleplay{
    height: 55px;
    width: 160px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
}

.download__content--logo-appstore{
    margin-right: 40px;
}

/* Body Cam kết */
.body1__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.body1__list--item{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    margin: 12px;
}

.body1__list--item-img{
    margin-right: 8px;
}

.body1__list--item-p{
    font-size: 1.6rem;
    line-height: 2rem;
}

/* Body booking */
.booking{
    background: url(http://bookinghotel.mynukeviet.com/themes/hotel01/images/contactf.jpg) no-repeat center / cover;
    padding: 40px 0;
    margin-bottom: 40px;
    box-shadow: 1px 3px 3px #ccc;
}

.booking__form{
    background-color: var(--white-color);
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 3px 3px #ccc;
    border-radius: 6px;
    padding-bottom: 40px;
}
.booking__form--h1{
    color: #195688;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 30px 0 20px;
}

.booking__form--p{
    color: #195688;
    font-size: 1.8rem;
    margin: 10px 0 4px 30px;
}

.booking__form--input{
    font-size: 1.4rem;
    height: 34px;
    width: 90%;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    margin: 10px 0 10px 30px;
}

.input__NoiDung{
    height: 60px;
    padding-bottom: 20px;
}

.booking__form--checkbox{
    display: flex;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-left: 12px;
}

.booking__form--checkbox input{
    height: 15px;
    width: 40px;
    cursor: pointer;
}

.booking__form--checkbox p{
    font-size: 1.5rem;
    font-weight: 500;
}

.booking__form--btn{
    display: flex;
}

.booking__form--btn button{
    font-size: 1.8rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 150px;
}
/* Body footer */
.footer{
    border-top: 4px solid var(--primary-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer__heading{
    color: #757575;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 18px;
}

.footer__list--item{
    margin: 12px 0;
}

.footer__list--item a{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.footer__list--item a:hover{
    color: var(--primary-color);
}

.footer__list--item a i{
    font-size: 1.4rem;
    margin-right: 4px;
    color: var(--text-color);
}

.footer__download{
    display: flex;
}

.footer__download--qr{
    max-height: 75px;
    max-width: 75px;
    padding: 2px;
    border: 1px solid #ccc;
}

.footer__download--apps-link{
    text-decoration: none;
    color: transparent;
}

.footer__download--apps{
    height: 75px;
    margin-left: 12px;
}

.footer__download--apps-icon{
    max-width: 75px;
    height: 50%;
    object-fit: contain;
}

/* Modal Login/Register */
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}

.modal__login{
    display: none;
}

.modal__register{
    display: none;
}

.modal__container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__form{
    background-color: var(--white-color);
    width: 450px;
    margin: 120px auto 0;
    border-radius: 4px;
}

.modal__form--heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.modal__form--heading-h3{
    font-size: 2rem;
    color: var(--text-color);  
    padding-left: 12px; 
}

.modal__form--heading-close{
    font-size: 2.6rem;
    padding-right: 12px;
    font-weight: 400;
    cursor: pointer;
}

.modal__form--content{
    margin: 20px 12px 10px;
}

.modal__form--content-input{
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 1.5rem;
    height: 40px;
    border-radius: 4px;
    outline: 0;
    /* border: 1px solid #ccc; */
    padding-left: 12px;
    border: none;
}

.modal__form--content-input1{
    border: 1px solid #ccc;
}


.modal__form--content-input-pass{
    display: flex;
    height: 42px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal__form--content-input-pass-register{
    margin-bottom: 10px;
}

.modal__form--content-showpass{
    font-size: 1.5rem;
    position: relative;
    right: 10px;
}

.modal__form--content-showpass:hover{
    color: #bbb;
}

.modal__form--content-input::placeholder{
    color: #ccc;
    font-weight: 400;
}

.modal__form--content-input:hover{
    border-color: var(--primary-color);
}

.modal__form--content-input-pass:hover{
    border-color: var(--primary-color);
}

.modal__form--content-forget{
    font-size: 1.5rem;
    color: var(--text-color);
    width: fit-content;
}

.modal__form--content-btn{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 42px;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.modal__form--content-btn:hover{
    opacity: 0.8;
}

.modal__form--content-or{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.modal__form--content-or-span{
    width: 180px;
    height: 1px;
    border-top: 1px solid #ccc;
}

.modal__form--content-or-p{
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.modal__form--content-link{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 42px;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.modal__form--content-link-iconFB{
    font-size: 2rem;
    color: #0269e3;
    margin-left: auto;
    margin-right: 8px;
}

.modal__form--content-link-iconGG{
    height: 20px;
    width: 17.5px;
    object-fit: cover;
    margin-left: auto;
    margin-right: 8px;
}

.modal__form--content-link-p{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: auto;
}

.modal__form--footer-login{
    display: flex;
    margin: 0 12px;
}

.modal__form--footer-register{
    padding: 8px 0;
}

.modal__form--footer-p{
    font-size: 1.5rem;
    margin-right: 4px;
    color: var(--text-color);
}

.modal__form--footer-p-register{
    margin-top: 0;
}

.modal__form--footer-p1{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.modal__form--content-forget:hover, .modal__form--footer-p1:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal__form--footer-wrap{
    display: flex;
    height: 42px;
}

.modal__form--footer-span{
    color: var(--primary-color);
    cursor: pointer;
}

.modal__form--footer-span:hover{
    text-decoration: underline;
}

