@model WebsiteKhachSan.Areas.Manage.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<title>Trang Chu</title>
@section Listinforight{
    <div class="header">
        <div class="header__slick">
            <button type="button" class="slick-prev"></button>
            <div class="header__slick--item">
                <img src="~/Areas/Anh/banner1.jpg"
                     alt=""
                     class="header__slick--item-img" />
            </div>
            <div class="header__slick--item">
                <img src="~/Areas/Anh/banner2.jpg"
                     alt=""
                     class="header__slick--item-img" />
            </div>
            <div class="header__slick--item">
                <img src="~/Areas/Anh/banner3.jpg"
                     alt=""
                     class="header__slick--item-img" />
            </div>
            <div class="header__slick--item">
                <img src="~/Areas/Anh/banner4.jpg"
                     alt=""
                     class="header__slick--item-img" />
            </div>
            <div class="header__slick--item">
                <img src="~/Areas/Anh/banner5.jpg"
                     alt=""
                     class="header__slick--item-img" />
            </div>
            <div class="header__slick--item">
                <img src="~/Areas/Anh/banner7.jpg"
                     alt=""
                     class="header__slick--item-img" />
            </div>
            <button type="button" class="slick-next"></button>
        </div>
        <div class="header__menu">
            <div class="logo">
                <a href="#"><img src="~/Areas/Anh/logoDTU.png" alt="" /></a>
            </div>
            <div class="submenu">
                <div class="submenu__1">
                    <div class="submenu__1--left">
                        <p class="submenu__1--left-hotline">Hotline:</p>
                        <p href="" class="submenu__1--left-phone">093.5633219</p>
                    </div>
                    <div class="submenu__1--right">
                        <button class="submenu__1--right-account submenu__1--right-account-login"
                                id="login">
                            Đăng nhập
                        </button>
                        <button class="submenu__1--right-account submenu__1--right-account-register"
                                id="register">
                            Đăng ký
                        </button>
                    </div>
                </div>
                <div class="submenu__2">
                    <a href="../VeMayBay/VeMayBay.html" class="submenu__2--link">VÉ MÁY BAY</a>
                    <a href="../SanGiaRe/SanGiaRe.html" class="submenu__2--link">SĂN GIÁ RẺ</a>
                    <a href="" class="submenu__2--link">DỊCH VỤ</a>
                    <a href="../TinTuc/TinTuc.html" class="submenu__2--link">TIN TỨC</a>
                    <a href="" class="submenu__2--link">LIÊN HỆ</a>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="header__search">
                <div class="search__place">
                    <p class="search__place--p">Địa điểm</p>
                    <i class="fas fa-sort-down search__icon--down"></i>

                    <ul class="search__place--list">
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Hồ Chí Minh</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Hà Nội</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Đà Nẵng</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Đà Lạt</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Nha Trang</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Vũng Tàu</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Phú Quốc</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Sa Pa</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Hạ Long</a>
                        </li>
                        <li class="search__place--list-item">
                            <a href="" class="search__place--list-item-link">Huế</a>
                        </li>
                    </ul>
                </div>
                <div class="search__price">
                    <p class="search__price--p">Giá</p>
                    <i class="fas fa-sort-down search__icon--down"></i>

                    <ul class="search__price--list">
                        <li class="search__price--list-item">
                            <a class="search__price--list-item-link" href="">Dưới 300.000</a>
                        </li>
                        <li class="search__price--list-item">
                            <a class="search__price--list-item-link" href="">Dưới 500.000</a>
                        </li>
                        <li class="search__price--list-item">
                            <a class="search__price--list-item-link" href="">Dưới 700.000</a>
                        </li>
                        <li class="search__price--list-item">
                            <a class="search__price--list-item-link" href="">Dưới 1.000.000</a>
                        </li>
                        <li class="search__price--list-item">
                            <a class="search__price--list-item-link" href="">Dưới 1.500.000</a>
                        </li>
                    </ul>
                </div>
                <div class="search__type">
                    <p class="search__type--p">Tiêu chuẩn</p>
                    <i class="fas fa-sort-down search__icon--down"></i>

                    <ul class="search__type--list">
                        <li class="search__type--list-item">
                            <a href="" class="search__type--list-item-link">Khách sạn 1 sao</a>
                        </li>
                        <li class="search__type--list-item">
                            <a href="" class="search__type--list-item-link">Khách sạn 2 sao</a>
                        </li>
                        <li class="search__type--list-item">
                            <a href="" class="search__type--list-item-link">Khách sạn 3 sao</a>
                        </li>
                        <li class="search__type--list-item">
                            <a href="" class="search__type--list-item-link">Khách sạn 4 sao</a>
                        </li>
                        <li class="search__type--list-item">
                            <a href="" class="search__type--list-item-link">Khách sạn 5 sao</a>
                        </li>
                    </ul>
                </div>
                <div class="search__datetime">
                    <input type="datetime-local" name="" id="search__datetime--come" />
                    <input type="datetime-local" name="" id="search__datetime--leave" />
                </div>
                <div class="search__people">
                    <i class="fas fa-user-friends search__icon--people"></i>
                    <div class="search__people--wrap">
                        <p class="search__people--wrap-title">1 người lớn</p>
                        <p class="search__people--wrap-content">1 phòng</p>
                    </div>
                    <i class="fas fa-sort-down search__icon--down"></i>

                    <ul class="search__people--list">
                        <li class="search__people--list-item">
                            <a href="" class="search__people--list-item-link">Cặp đôi/1 phòng</a>
                        </li>
                        <li class="search__people--list-item">
                            <a href="" class="search__people--list-item-link">Theo gia đinh</a>
                        </li>
                        <li class="search__people--list-item">
                            <a href="" class="search__people--list-item-link">Theo đoàn/nhóm</a>
                        </li>
                        <li class="search__people--list-item">
                            <a href="" class="search__people--list-item-link">Đi công tác</a>
                        </li>
                    </ul>
                </div>
                <div class="search__input">
                    <i class="fas fa-search search__icon--search"></i>
                    <input class="search__input--input"
                           type="text"
                           placeholder="Nhập địa điểm du lịch hoặc tên khách sạn" />

                    <ul class="search__input--list">
                        <li class="search__input--list-item">Đà Nẵng</li>
                        <li class="search__input--list-item">Khách sạn Mường Thanh</li>
                        <li class="search__input--list-item">Khách sạn Lotus Central</li>
                        <li class="search__input--list-item">Khách sạn Đà Lạt</li>
                    </ul>
                </div>
                <button class="search__btn">Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="modal modal__login" id="Modal-login">
        <div class="modal__container">
            <div class="modal__form">
                <div class="modal__form--heading">
                    <h3 class="modal__form--heading-h3">Đăng nhập</h3>
                    <span class="modal__form--heading-close" id="close-login">&times;</span>
                </div>
                <div>
                    @using (Html.BeginForm("Login", "TrangChu", FormMethod.Post))
                    {
                        <div class="modal__form--content">
                            @Html.TextBoxFor(model => model.UserName, new
                       {
                           @class = "modal__form--content-input modal__form--content-input1",
                           @autofocus = "autofocus"
                       })
                        </div>
                        <div class="modal__form--content">
                            @Html.PasswordFor(model => model.PassWord, new
                       {
                           @class = "modal__form--content-input modal__form--content-input1"
                       })
                        </div>
                        @*<div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.RememberMe) RememberMe
                            </label>
                        </div>*@
                        <p class="modal__form--content-forget">Quên mật khẩu</p>
                        <button class="modal__form--content-btn" type="submit">
                            ĐĂNG NHẬP
                        </button>
                    }
                </div>
                <div class="">
                    <div class="modal__form--content-or">
                        <span class="modal__form--content-or-span"></span>
                        <p class="modal__form--content-or-p">Hoặc</p>
                        <span class="modal__form--content-or-span"></span>
                    </div>
                    <div class="modal__form--content-link">
                        <i class="fab fa-facebook-square modal__form--content-link-iconFB"></i>
                        <p class="modal__form--content-link-p">Đăng nhập bằng Facebook</p>
                    </div>
                    <div class="modal__form--content-link">
                        <img class="modal__form--content-link-iconGG"
                             src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png"
                             alt="" />
                        <p class="modal__form--content-link-p">Đăng nhập bằng Google</p>
                    </div>
                </div>
                <div class="modal__form--footer modal__form--footer-login">
                    <p class="modal__form--footer-p">Chưa có tài khoản?</p>
                    <p class="modal__form--footer-p1" id="form__login-link-to-register">Đăng ký</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal__register" id="Modal-register">
    <div class="modal__container">
        <div class="modal__form">
            <div class="modal__form--heading">
                <h3 class="modal__form--heading-h3">Đăng ký</h3>
                <span class="modal__form--heading-close" id="close-register">&times;</span>
            </div>
            <div class="modal__form--content">
                <input class="modal__form--content-input modal__form--content-input1"
                       type="text"
                       placeholder="Email" />
                <div class="modal__form--content-input-pass modal__form--content-input-pass-register">
                    <input class="modal__form--content-input"
                           type="password"
                           placeholder="Mật khẩu" id="show-pass-register1" />
                    <i class="fas fa-eye-slash modal__form--content-showpass" id="icon-eye-register1"></i>
                </div>
                <div class="modal__form--content-input-pass modal__form--content-input-pass-register">
                    <input class="modal__form--content-input"
                           type="password"
                           placeholder="Nhập lại mật khẩu" id="show-pass-register2" />
                    <i class="fas fa-eye-slash modal__form--content-showpass" id="icon-eye-register2"></i>
                </div>
                <button class="modal__form--content-btn" type="submit">
                    ĐĂNG KÝ
                </button>
                <div class="modal__form--footer modal__form--footer-register">
                    <div class="modal__form--footer-wrap">
                        <p class="modal__form--footer-p">Bạn đã có tài khoản?</p>
                        <p class="modal__form--footer-p1" id="form__register-link-to-login">Đăng nhập</p>
                    </div>
                    <p class="modal__form--footer-p modal__form--footer-p-register">
                        Tiếp tục nghĩa là bạn đồng ý với các <span class="modal__form--footer-span">Điều khoản và điều kiện,</span>
                        cũng như các <span class="modal__form--footer-span">Chính sách bảo mật</span> của TRIP.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="grid">
    <div class="body1">
        <h1 class="body1__h1">CÁC ĐIỂM ĐẾN PHỔ BIẾN Ở VIỆT NAM</h1>
        <div class="img__top">
            <div class="img__1">
                <img src="~/Areas/Anh/danang.jpg"
                     alt="" />
                <p class="img__p">Đà Nẵng</p>
            </div>
            <div class="img__2">
                <img class="img__more--2-left"
                     src="https://kinhnghiemdulich.info/images/nha-trang/sailing-nha-trang.jpg"
                     alt="" />
                <p class="img__p">Nha Trang</p>
            </div>
            <div class="img__3">
                <img src="https://media.truyenhinhdulich.vn/upload/news/7_2019/hoi%20an%202_1563176621.jpg"
                     alt="" />
                <p class="img__p">Hội An</p>
            </div>
            <div class="img__4">
                <img src="https://dulichkhampha24.com/wp-content/uploads/2020/01/nha-tho-duc-ba-sai-gon-1.jpg"
                     alt="" />
                <p class="img__p">Hồ Chí Minh</p>
            </div>
            <div class="img__5">
                <img src="https://img.thuthuatphanmem.vn/uploads/2018/09/26/hinh-anh-van-mieu-dep-o-ha-noi_053444423.jpg"
                     alt="" />
                <p class="img__p">Hà Nội</p>
            </div>
            <div class="img__6">
                <img src="https://img.thuthuatphanmem.vn/uploads/2018/09/26/anh-dep-sa-pa-mua-lua-chin_052040971.jpg"
                     alt="" />
                <p class="img__p">Sa Pa</p>
            </div>
            <div class="img__7">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRJzKigyqFo0WbnjY30HLglH0xtzBR9Ap_bQ&usqp=CAU"
                     alt="" />
                <p class="img__p">Phú Quốc</p>
            </div>
            <div class="img__8">
                <img src="https://hinh365.com/wp-content/uploads/2020/03/tong-hop-1-132-hinh-anh-phong-canh-dep-nhat-ve-da-lat-ma-ban-khong-bo-lo-4.jpg"
                     alt="" />
                <p class="img__p">Đà Lạt</p>
            </div>
        </div>
    </div>

    <div class="body1">
        <h1 class="body1__h1">CÁC ĐIỂM ĐẾN QUỐC TẾ PHỔ BIẾN</h1>
        <div class="body1__layout">
            <div class="body1__layout--1">
                <img src="https://statics.vntrip.vn/images/dest/bangkok-new.png"
                     alt="" />
                <p class="body1__layout--p">Băng Cốc</p>
            </div>
            <div class="body1__layout--2">
                <img src="https://statics.vntrip.vn/images/dest/seoul-new.png"
                     alt="" />
                <p class="body1__layout--p">Seoul</p>
            </div>
            <div class="body1__layout--3">
                <img src="https://statics.vntrip.vn/images/dest/kualalumpur-new.png"
                     alt="" />
                <p class="body1__layout--p">Kuala Lumpur</p>
            </div>
            <div class="body1__layout--4">
                <img src="https://statics.vntrip.vn/images/dest/singapore-new.png"
                     alt="" />
                <p class="body1__layout--p">Singapore</p>
            </div>
        </div>
    </div>

    <div class="body">
        <h1 class="body__h1">KHÁCH SẠN ĐỀ XUẤT</h1>
        <div class="container__slick">
            <div class="wrap__slick">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks1.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Lotte Hotel Sài Gòn</h2>
                    <h3 class="wrap__layout--place">Hồ Chí Minh</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 90% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 1367 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 30%</p>
                        <p class="wrap__layout--cost">2.905.027 đ</p>
                        <p class="wrap__layout--price">2.022.303 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap__slick">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks2.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Khách sạn The Oriental Jade</h2>
                    <h3 class="wrap__layout--place">Hà Nội</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 88% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 1227 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 36%</p>
                        <p class="wrap__layout--cost">1.606.845 đ</p>
                        <p class="wrap__layout--price">1.036.258 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap__slick">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks3.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Sun River Hotel</h2>
                    <h3 class="wrap__layout--place">Đà Nẵng</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 80% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 1062 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <!-- <p class="wrap__layout--discount">GIẢM GIÁ 30%</p>
                                  <p class="wrap__layout--cost">2.905.027 đ</p> -->
                        <p class="wrap__layout--price">949.000 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap__slick">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks4.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Lotte Hotel Sài Gòn</h2>
                    <h3 class="wrap__layout--place">Hồ Chí Minh</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 90% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 1367 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 30%</p>
                        <p class="wrap__layout--cost">2.905.027 đ</p>
                        <p class="wrap__layout--price">2.022.303 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap__slick">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks5.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Khách sạn The Oriental Jade</h2>
                    <h3 class="wrap__layout--place">Hà Nội</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 88% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 1227 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 36%</p>
                        <p class="wrap__layout--cost">1.606.845 đ</p>
                        <p class="wrap__layout--price">1.036.258 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap__slick">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks6.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Sun River Hotel</h2>
                    <h3 class="wrap__layout--place">Đà Nẵng</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 80% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 1062 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <!-- <p class="wrap__layout--discount">GIẢM GIÁ 30%</p>
                                  <p class="wrap__layout--cost">2.905.027 đ</p> -->
                        <p class="wrap__layout--price">949.000 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
        </div>
    </div>

    <div class="body">
        <h1 class="body__h1">KHÁCH SẠN ĐƯỢC YÊU THÍCH NHẤT</h1>
        <div class="container">
            <div class="wrap">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks4.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">
                        Swiss-Belresort Tuyen Lam Dalat
                    </h2>
                    <h3 class="wrap__layout--place">Đà Lạt</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 88% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 2277 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 75%</p>
                        <p class="wrap__layout--cost">3.805.380 đ</p>
                        <p class="wrap__layout--price">938.414 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks5.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">KK Sapa Hotel</h2>
                    <h3 class="wrap__layout--place">Lào Cai</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 88% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 2002 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 55%</p>
                        <p class="wrap__layout--cost">2.606.845 đ</p>
                        <p class="wrap__layout--price">1.173.080 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
            <div class="wrap">
                <div class="wrap__layout">
                    <img src="~/Areas/Anh/ks6.jpg" alt="" class="wrap__layout--img" />
                    <h2 class="wrap__layout--name">Seashells Hotel & Spa Phú Quốc</h2>
                    <h3 class="wrap__layout--place">Kiên Giang</h3>
                    <div class="wrap__layout--rating">
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                        <i class="fas fa-star wrap__layout--rating-icon"></i>
                    </div>
                    <div class="wrap__layout--more">
                        <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                        <p class="wrap__layout--more-p">Được 91% khách giới thiệu</p>
                    </div>
                    <p class="wrap__layout--evaluate">
                        <b>Xuất sắc</b> 2452 đánh giá tốt
                    </p>
                    <div class="wrap__layout--vnd">
                        <p class="wrap__layout--discount">GIẢM GIÁ 40%</p>
                        <p class="wrap__layout--cost">2.305.327 đ</p>
                        <p class="wrap__layout--price">1.383.196 đ</p>
                    </div>
                </div>
                <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="body1">
        <h1 class="body1__h1">CAM KẾT TỪ TRIP</h1>
        <div class="body1__list">
            <div class="body1__list--item">
                <img class="body1__list--item-img" src="~/Areas/Anh/ck6.svg" alt="" />
                <p class="body1__list--item-p">
                    Cập nhật xu hướng du lịch mới nhất
                </p>
            </div>
            <div class="body1__list--item">
                <img class="body1__list--item-img" src="~/Areas/Anh/ck3.svg" alt="" />
                <p class="body1__list--item-p">Cơ hội du lịch 0đ</p>
            </div>
            <div class="body1__list--item">
                <img class="body1__list--item-img" src="~/Areas/Anh/ck2.svg" alt="" />
                <p class="body1__list--item-p">
                    Giảm giá hấp dẫn cho thành viên của Trip
                </p>
            </div>
            <div class="body1__list--item">
                <img class="body1__list--item-img" src="~/Areas/Anh/ck1.svg" alt="" />
                <p class="body1__list--item-p">Vé máy bay rẻ nhất thị trường</p>
            </div>
            <div class="body1__list--item">
                <img class="body1__list--item-img" src="~/Areas/Anh/ck5.svg" alt="" />
                <p class="body1__list--item-p">Combo đồng giá 1999k</p>
            </div>
            <div class="body1__list--item">
                <img class="body1__list--item-img" src="~/Areas/Anh/ck4.svg" alt="" />
                <p class="body1__list--item-p">
                    Combo tự động, chủ động lịch trình
                </p>
            </div>
        </div>
    </div>
</div>

<div class="download">
    <div class="wrap__download">
        <div class="download__mobile">
            <img src="https://statics.vntrip.vn/images/appBox-iphone.png"
                 alt="" />
        </div>
        <div class="download__content">
            <h1 class="download__content--h1">
                Du lịch dễ dàng với một ứng dụng duy nhất.
            </h1>
            <p class="download__content--p">
                Dùng ứng dụng để booking khách sạn trong vòng vài giây với chất
                lượng tuyệt vời nhất !
            </p>
            <div class="download__content--logo">
                <img src="https://statics.vntrip.vn/images/logo/appStore.png"
                     alt=""
                     class="download__content--logo-appstore" />
                <img src="https://statics.vntrip.vn/images/logo/googlePlay.png"
                     alt=""
                     class="download__content--logo-googleplay" />
            </div>
        </div>
    </div>
</div>

<div class="booking">
    <div class="booking__form">
        <h1 class="booking__form--h1">Đăng ký đặt phòng ngay hôm nay</h1>
        <p class="booking__form--p">Họ và tên:</p>
        <input type="text"
               class="booking__form--input"
               placeholder="Họ và tên" />
        <p class="booking__form--p">Email:</p>
        <input type="text" class="booking__form--input" placeholder="Email" />
        <p class="booking__form--p">Số điện thoại:</p>
        <input type="text"
               class="booking__form--input"
               placeholder="Số điện thoại" />
        <p class="booking__form--p">Nội dung:</p>
        <input type="text"
               class="booking__form--input input__NoiDung"
               placeholder="Nội dung" />
        <div class="booking__form--checkbox">
            <input type="checkbox" name="" id="" />
            <p>Gửi bản sao này cho chúng tôi</p>
        </div>
        <div class="booking__form--btn">
            <button type="submit">Gửi thông tin</button>
        </div>
    </div>
</div>


